---
import { CutCornerButton } from "../components/CutCornerButton";
import InteriorContent from "../components/InteriorContent.astro";
import InteriorHero from "../components/InteriorHero.astro";
import Default from "../layouts/Default.astro";
import Input  from "../components/input.astro";
import Textarea  from "../components/Textarea.astro";
---

<Default>
  <InteriorHero>
    <p
      class="uppercase font-extrabold text-center text-zinc-500 tracking-wider"
    >
      Let's Talk
    </p>
    <h1
      class="font-heading font-black text-5xl md:text-6xl lg:text-7xl text-center mt-4"
    >
      Contact Us
    </h1>
    <p
      class="text-center text-xl md:text-2xl mt-6 max-w-xl mx-auto text-zinc-400"
    >
      We're here to help and answer any questions you may have. Reach out to us
      to lern more about our services, get support, or to apply for positions.
    </p>
  </InteriorHero>

  <InteriorContent>
    <div class="max-w-xl mx-auto">
      <h2 class="font-heading font-black text-3xl">
        What can we help you with?
      </h2>
      <form class="flex flex-col mt-8" name="contact" method="POST" data-netlify="true">
        <label for="name">Name</label>
        <Input name="name" id="name" type="text" class="mt-1" />
        <label for="email" class="mt-4">Email</label>
        <Input id="email" name="email" type="email" class="mt-1" />
        <label for="message" class="mt-4">Message</label>
        <Textarea id="message" name="message" class="mt-1"></Textarea>
        <CutCornerButton className="mt-4">Send Message</CutCornerButton>
      </form>
    </div>
  </InteriorContent>
</Default>
