---
import InteriorHero from "../components/InteriorHero.astro";
import Default from "../layouts/Default.astro";
---

<Default>
  <InteriorHero>
    <p
      class="uppercase font-extrabold text-center text-zinc-500 tracking-wider"
    >
      Let's Talk
    </p>
    <h1
      class="font-heading font-black text-5xl md:text-6xl lg:text-7xl text-center mt-4"
    >
      Contact Us
    </h1>
    <p
      class="text-center text-xl md:text-2xl mt-6 max-w-xl mx-auto text-zinc-400"
    >
      We're here to help and answer any questions you may have. Reach out to us to lern more about our services, get support, or to apply for positions.
    </p>
  </InteriorHero>
</Default>
